

/* 
    FONDOS

    Nos interesa colocar una imagen de fondo.
    -> background-image: url("miimage.jpg")
    -> Modificarle el tamaño -> background-size
    -> Mover la imagen -> background-position
    -> Generar o remover mozaico -> background-repeat
*/

.container {
    width: 500px;
    height: 500px;
    background-image: url(https://wallpapers.com/images/featured/cheeseburger-fqzh8aanxuwac9sg.jpg);
    background-size: cover;
    background-position: center;
}

.filtro {
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.4);

    /* NO PRESTAR ATENCION A ESTO */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p {
    font-size: 6rem;
    color: white;
}